.container {
	margin: 0.5rem 1rem;
	font-family: "Open Sans", sans-serif;

	.section {
		background-color: var(--main-color);
		border-radius: 5px;
		margin-bottom: 5rem;

		&:nth-child(even) {
			background-color: var(--second-color);
		}

		.containerdata {
			position: relative;
			align-items: center;
			justify-content: center;

			.header {
				position: absolute;
				-webkit-transform: rotate(90deg) translateX(20px);
				-moz-transform: rotate(90deg) translateX(20px);
				-ms-transform: rotate(90deg) translateX(20px);
				-o-transform: rotate(90deg) translateX(20px);
				transform: rotate(90deg) translateX(20px);
				-webkit-transform-origin: 1.8em 0.5em;
				-moz-transform-origin: 1.8em 0.5em;
				-ms-transform-origin: 1.8em 0.5em;
				-o-transform-origin: 1.8em 0.5em;
				transform-origin: 1.8em 0.5em;
				left: 0.6rem;
				top: 0;

				h2 {
					font-weight: 100;
					margin: 0 0 1rem 1rem;
					font-size: 2rem;
					color: white;
				}
			}

			.imageandcardinfo {
				width: 100%;
				display: flex;
				flex-direction: row-reverse;
				justify-content: space-between;
				.image {
					img {
						border-radius: 5px;
						margin: 1rem;
					}
				}

				.cardinfo {
					margin: 1rem;
					width: 100%;
					margin-left: 5rem;
					p {
						margin: 0;
						color: white;
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}
