.container {
	padding: 0.5rem 1rem;
	margin: auto;
	.menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		border: 0.2px solid var(--main-color);
		.navlink {
			text-decoration: none;
			text-transform: uppercase;
			width: 100%;
			height: 100%;
			background-color: var(--main-color);
			border: 1px solid #fff;
			box-sizing: border-box;
			transition: all 0.5s ease-in-out;
			padding: 0.5rem 1rem;

			p {
				line-height: 30px;
				margin: 0;
				text-align: center;
				font-family: Arial;
				font-size: 1.8rem;
				font-weight: 700;
				color: #fff;
				transition: all 0.5s ease;
			}

			&:focus {
				-webkit-box-shadow: 0px 0px 8px 12px black;
				box-shadow: 0px 0px 2px 4px black;
				outline: none;
				z-index: 99999;
			}
		}

		.activenavlink {
			background-color: white;
			transition: all 0.35s ease-in-out;

			p {
				color: black;
			}
		}
	}
}
